body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(195, 177, 15);
    color: rgb(23, 7, 7);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
 #home img{ 
    width:200px;
    height:200px;
   border-radius:200px;
   margin-left: 150px;
 } 
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: rgb(12, 11, 3);
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px;
}

#home {
    background: #f4f4f4;
    text-align: left;
    display:flex
    
}
#home p{
    font-size: 20px;
     /* argin-left: 300px; */
    padding: 20px; 
background-color: rgb(248, 226, 201);}
h2 {
    color: #333;
}
#about{
    text-align: center;
}
#about img{
width:200px;
height:200px;
border-radius: 20px;

}
#skills{
    background-color:rgb(247, 236, 223);
    text-align: center;
}
#skills ul{
    display:flex;
    gap:150px;
    padding-left: 200px;
    
}
#skills img{
    width: 50px;
    height: 50px;
    /* gap:500px; */
    margin-right: 120px;
    padding: 10px;
    text-align: center;
}
#projects{
    text-align: center;
}